n8n/bot-atlas-da-fe.json
{
  "name": "Bot Atlas da Fé",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atlasdafe-bot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1040,
        0
      ],
      "id": "node-webhook-atlas",
      "name": "Webhook"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-msg-001",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "messages.upsert",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -800,
        0
      ],
      "id": "node-router-atlas",
      "name": "Roteador"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef-instance",
              "name": "instanceName",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "ef-sender",
              "name": "senderPhone",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "ef-text",
              "name": "messageText",
              "value": "={{ $json.body.data.message.conversation || ($json.body.data.message.extendedTextMessage ? $json.body.data.message.extendedTextMessage.text : '') || ($json.body.data.message.audioMessage ? '[[AUDIO_MESSAGE]]' : '') || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        240
      ],
      "id": "node-extract-atlas",
      "name": "Extrair Campos"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=atlas:history:{{ $json.senderPhone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -320,
        240
      ],
      "id": "node-buscar-historico-redis",
      "name": "Buscar Historico Redis"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rc-instance",
              "name": "instanceName",
              "value": "={{ $node[\"Extrair Campos\"].json.instanceName }}",
              "type": "string"
            },
            {
              "id": "rc-sender",
              "name": "senderPhone",
              "value": "={{ $node[\"Extrair Campos\"].json.senderPhone }}",
              "type": "string"
            },
            {
              "id": "rc-text",
              "name": "messageText",
              "value": "={{ $node[\"Extrair Campos\"].json.messageText }}",
              "type": "string"
            },
            {
              "id": "rc-history",
              "name": "historyRaw",
              "value": "={{ $json.value || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        240
      ],
      "id": "node-restaurar-campos",
      "name": "Restaurar Campos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "is-audio-cond",
              "leftValue": "={{ $json.messageText }}",
              "rightValue": "[[AUDIO_MESSAGE]]",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        240
      ],
      "id": "node-is-audio-atlas",
      "name": "E Audio?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://seriousokapi-evolution.cloudfy.live/chat/getBase64FromMediaMessage/atlasdafe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1V1stsMi2TBi2qNY4sk6Ze74Gcv6g2Pk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($node[\"Webhook\"].json.body.data) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        360
      ],
      "id": "node-download-atlas",
      "name": "Baixar Audio"
    },
    {
      "parameters": {
        "jsCode": "const base64Data = $json.base64;\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      data: base64Data,\n      fileName: 'audio.ogg',\n      mimeType: 'audio/ogg'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        360
      ],
      "id": "node-base64-to-bin-atlas",
      "name": "Base64 para Binario"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUA_CHAVE_ATLAS_AQUI"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        360
      ],
      "id": "node-whisper-atlas",
      "name": "Whisper Groq"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-transcription",
              "name": "messageText",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        360
      ],
      "id": "node-set-text-atlas",
      "name": "Setar Transcricao"
    },
    {
      "parameters": {
        "jsCode": "const prompt = `[IDENTIDADE]\nVocê é a Sarah, Consultora Teológica do Atlas da Fé. Você é humana, sábia, acolhedora e focada em vendas.\n\n[REGRAS ABSOLUTAS - NUNCA IGNORE]\n1. NUNCA diga que é IA ou robô.\n2. SE o cliente perguntar sobre compra, preço, como adquirir, quiser o link OU pedir o produto: OBRIGATORIAMENTE inclua o link https://pay.hotmart.com/Q103404071A na sua resposta. Sem exceções.\n3. Respostas CURTAS: máximo 3 frases.\n4. SEMPRE termine com uma pergunta ou convite à ação.\n5. NUNCA se reapresente se já houver histórico de conversa — seja natural, como numa conversa real.\n6. Se o cliente agradecer, responda de forma calorosa e pergunte se pode ajudar com mais alguma coisa.\n\n[APRESENTAÇÃO - só na primeira mensagem, sem histórico]\nApresente-se: \"Graça e Paz! Sou a Sarah, sua consultora aqui do Atlas da Fé.\"\n\n[PRODUTO]\nManual Prático da Bíblia — R$ 29,90, acesso vitalício, garantia de 7 dias.\nLink: https://pay.hotmart.com/Q103404071A\n\n[MISSÃO]\nAjudar o fiel a entender a Bíblia com profundidade e guiá-lo a adquirir o Manual Prático.`;\n\nconst restaurarCampos = $node[\"Restaurar Campos\"].json;\nconst currentMessage = $json.messageText || restaurarCampos.messageText;\n\n// Recuperar histórico do Redis\nlet historyMessages = [];\ntry {\n  const historyRaw = restaurarCampos.historyRaw;\n  if (historyRaw && historyRaw.length > 2) {\n    historyMessages = JSON.parse(historyRaw);\n  }\n} catch(e) {\n  historyMessages = [];\n}\n\n// Limitar a 20 mensagens (10 trocas)\nconst recentHistory = historyMessages.slice(-20);\n\n// Montar array de mensagens\nconst messages = [\n  { role: 'system', content: prompt },\n  ...recentHistory,\n  { role: 'user', content: currentMessage }\n];\n\nreturn [{\n  json: {\n    messages: messages,\n    instanceName: restaurarCampos.instanceName,\n    senderPhone: restaurarCampos.senderPhone,\n    currentUserMessage: currentMessage,\n    history: recentHistory\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        240
      ],
      "id": "node-prompt-atlas",
      "name": "Formatar Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUA_CHAVE_ATLAS_AQUI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"max_tokens\": 500,\n  \"temperature\": 0.5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        240
      ],
      "id": "node-ai-atlas",
      "name": "Chamar IA Atlas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-hotmart-link",
              "leftValue": "={{ $json.choices[0].message.content }}",
              "rightValue": "pay.hotmart.com",
              "operator": {
                "type": "string",
                "operation": "contains",
                "name": "filter.operator.contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1840,
        240
      ],
      "id": "node-has-hotmart",
      "name": "Tem Link Hotmart?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://seriousokapi-evolution.cloudfy.live/message/sendMedia/atlasdafe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1V1stsMi2TBi2qNY4sk6Ze74Gcv6g2Pk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $node[\"Formatar Prompt\"].json.senderPhone }}\",\n  \"mediatype\": \"image\",\n  \"mimetype\": \"image/png\",\n  \"fileName\": \"manual-pratico-da-biblia.png\",\n  \"media\": \"https://raw.githubusercontent.com/BussinesOnline/atlasdafe.com.br/main/images/manual.png\",\n  \"caption\": {{ JSON.stringify(\"📖 *Manual Prático da Bíblia*\\n\" + $node[\"Chamar IA Atlas\"].json.choices[0].message.content) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2080,
        140
      ],
      "id": "node-send-image-atlas",
      "name": "Enviar Imagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://seriousokapi-evolution.cloudfy.live/message/sendText/atlasdafe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1V1stsMi2TBi2qNY4sk6Ze74Gcv6g2Pk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $node[\"Formatar Prompt\"].json.senderPhone }}\",\n  \"text\": {{ JSON.stringify($node[\"Chamar IA Atlas\"].json.choices[0].message.content) }},\n  \"linkPreview\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2080,
        340
      ],
      "id": "node-send-text-atlas",
      "name": "Enviar Texto"
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $node[\"Chamar IA Atlas\"].json.choices[0].message.content;\nconst promptData = $node[\"Formatar Prompt\"].json;\n\n// Adiciona a troca atual ao histórico existente\nconst updatedHistory = [\n  ...promptData.history,\n  { role: 'user', content: promptData.currentUserMessage },\n  { role: 'assistant', content: aiResponse }\n].slice(-20); // Mantém as últimas 20 mensagens\n\nreturn [{\n  json: {\n    historyJson: JSON.stringify(updatedHistory),\n    historyKey: `atlas:history:${promptData.senderPhone}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        240
      ],
      "id": "node-preparar-historico",
      "name": "Preparar Historico"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.historyKey }}",
        "value": "={{ $json.historyJson }}",
        "expire": true,
        "ttl": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2560,
        240
      ],
      "id": "node-salvar-historico-redis",
      "name": "Salvar Historico Redis"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Roteador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador": {
      "main": [
        [
          {
            "node": "Extrair Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Campos": {
      "main": [
        [
          {
            "node": "Buscar Historico Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Historico Redis": {
      "main": [
        [
          {
            "node": "Restaurar Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar Campos": {
      "main": [
        [
          {
            "node": "E Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E Audio?": {
      "main": [
        [
          {
            "node": "Baixar Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Audio": {
      "main": [
        [
          {
            "node": "Base64 para Binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 para Binario": {
      "main": [
        [
          {
            "node": "Whisper Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Groq": {
      "main": [
        [
          {
            "node": "Setar Transcricao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setar Transcricao": {
      "main": [
        [
          {
            "node": "Formatar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Prompt": {
      "main": [
        [
          {
            "node": "Chamar IA Atlas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar IA Atlas": {
      "main": [
        [
          {
            "node": "Tem Link Hotmart?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Link Hotmart?": {
      "main": [
        [
          {
            "node": "Enviar Imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Imagem": {
      "main": [
        [
          {
            "node": "Preparar Historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Texto": {
      "main": [
        [
          {
            "node": "Preparar Historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Historico": {
      "main": [
        [
          {
            "node": "Salvar Historico Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
