n8n/bot-por-cliente.json
{
  "name": "Bot por Cliente",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zettabots-bot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1040, 0],
      "id": "f1a2b3c4-d5e6-7890-a1b2-c3d4e5f60001",
      "name": "Webhook",
      "webhookId": "zettabots-bot-webhook-001"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-conn-001",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "connection.update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Conexao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-msg-001",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "messages.upsert",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-800, 0],
      "id": "f1a2b3c4-d5e6-7890-a1b2-c3d4e5f60002",
      "name": "Roteador de Eventos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-state-001",
              "leftValue": "={{ $json.body.data.state }}",
              "rightValue": "open",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "cond-instance-001",
              "leftValue": "={{ $json.body.instance }}",
              "rightValue": "Chat Bot Teste",
              "operator": {
                "type": "string",
                "operation": "notEquals",
                "name": "filter.operator.notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-560, -240],
      "id": "f1a2b3c4-d5e6-7890-a1b2-c3d4e5f60003",
      "name": "Conectou?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://seriousokapi-evolution.cloudfy.live/message/sendText/Chat Bot Teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1V1stsMi2TBi2qNY4sk6Ze74Gcv6g2Pk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.body.instance }}\",\n  \"text\": \"Ola! Seu ZettaBots esta ativo!\\n\\nEm breve nossa equipe entra em contato para personalizar seu bot.\\n\\nAte ja!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-320, -240],
      "id": "f1a2b3c4-d5e6-7890-a1b2-c3d4e5f60004",
      "name": "Enviar Boas-vindas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-fromme-001",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-not-group-001",
              "leftValue": "={{ $json.body.data.key.remoteJid && $json.body.data.key.remoteJid.includes('@g.us') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-560, 240],
      "id": "f1a2b3c4-d5e6-7890-a1b2-c3d4e5f60005",
      "name": "Mensagem Externa?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef-instance",
              "name": "instanceName",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "ef-sender",
              "name": "senderPhone",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "ef-text",
              "name": "messageText",
              "value": "={{ $json.body.data.message.conversation || ($json.body.data.message.extendedTextMessage ? $json.body.data.message.extendedTextMessage.text : '') || ($json.body.data.message.audioMessage ? '[[AUDIO_MESSAGE]]' : '') || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-320, 240],
      "id": "f1a2b3c4-d5e6-7890-a1b2-c3d4e5f60006",
      "name": "Extrair Campos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "is-audio-cond",
              "leftValue": "={{ $json.messageText }}",
              "rightValue": "[[AUDIO_MESSAGE]]",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-100, 240],
      "id": "node-is-audio",
      "name": "E Audio?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://seriousokapi-evolution.cloudfy.live/chat/getBase64FromMediaMessage/{{ $node[\"Extrair Campos\"].json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1V1stsMi2TBi2qNY4sk6Ze74Gcv6g2Pk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($node[\"Webhook\"].json.body.data) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [120, 540],
      "id": "node-download-audio",
      "name": "Baixar Audio"
    },
    {
      "parameters": {
        "jsCode": "const base64Data = $json.base64;\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      data: base64Data,\n      fileName: 'audio.ogg',\n      mimeType: 'audio/ogg'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [230, 540],
      "id": "node-base64-to-bin",
      "name": "Base64 para Binario"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUA_CHAVE_GROQ_AQUI"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [440, 540],
      "id": "node-whisper-groq",
      "name": "Whisper Groq"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-transcription",
              "name": "messageText",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [560, 540],
      "id": "node-set-transcription",
      "name": "Setar Transcricao"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.airtable.com/v0/appQkUKRhf7rKotbT/tblu2DjzxbgZ84PL6",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACED_BY_ENV_TOKEN"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "={{ '{instanceName}=\"' + $('Extrair Campos').item.json.instanceName + '\"' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-80, 240],
      "id": "f1a2b3c4-d5e6-7890-a1b2-c3d4e5f60008",
      "name": "Buscar Config Cliente"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'chat_history:' + $('Extrair Campos').item.json.instanceName + ':' + $('Extrair Campos').item.json.senderPhone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [160, 240],
      "id": "f1a2b3c4-d5e6-7890-a1b2-c3d4e5f60009",
      "name": "Buscar Historico Redis",
      "credentials": {
        "redis": {
          "id": "redis_credentials",
          "name": "ZettaBots Redis"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('Buscar Config Cliente').first().json;\nconst redisData = $('Buscar Historico Redis').first().json;\nconst campos = $('Extrair Campos').first().json;\n\nconst clientConfig = (config.records && config.records[0]) ? config.records[0].fields : {};\nconst defaultPrompt = `Você é o assistente virtual do Atlas da Fé, criado por Richard — fundador do @atlasdafe, com mais de 182 mil seguidores nas redes sociais.\\n\\nSua missão é acolher cada pessoa com calor humano, entender sua jornada espiritual e apresentar o Manual Prático da Bíblia como a solução que ela estava buscando — de forma natural, genuína e sem pressão.\\n\\n---\\n\\n## IDENTIDADE E PERSONA\\n\\nVocê se chama Sara. Você não é um robô frio — você é como uma amiga cristã que entende a Palavra e quer ajudar de verdade.\\n- Fale sempre de forma calorosa, próxima e acolhedora\\n- Use linguagem simples e acessível — sem jargões teológicos complicados\\n- Use o nome da pessoa sempre que souber\\n- Use emojis com moderação (1 a 2 por mensagem) para dar leveza\\n- Nunca escreva mais do que 3 parágrafos curtos por mensagem\\n- Termine sempre com uma pergunta ou chamada para ação\\n\\n---\\n\\n## SOBRE O PRODUTO\\n\\nManual Prático da Bíblia — o produto principal do Atlas da Fé\\n\\nO que é: Um guia completo de estudo bíblico que já ajudou mais de 12.500 cristãos a entender a Palavra de Deus com clareza, profundidade e confiança — mesmo quem nunca estudou antes.\\n\\nO que está incluso:\\n- Compreensão profunda da Bíblia: contexto histórico, cultural e teológico de cada livro das Escrituras\\n- Métodos práticos de estudo: técnicas organizadas para estudar de forma eficaz e consistente\\n- Aplicação no dia a dia: desafios e exercícios ao final de cada seção\\n- Acesso vitalício + atualizações gratuitas: pague uma vez, acesse para sempre\\n- Bônus: Devocional Premium 21 Dias Para Caminhar Com Deus — 35 páginas com oração, meditação, guia de jejum, versículos e exercícios\\n\\nPreço: R$ 29,90 (ou 12x de R$ 2,99 sem juros)\\nGarantia: 7 dias com reembolso total — sem perguntas\\nAcesso: imediato após o pagamento\\nLink de compra: https://pay.hotmart.com/Q103404071A\\n\\n---\\n\\n## QUEM CRIOU\\n\\nRichard — Fundador do Atlas da Fé (@atlasdafe)\\nDurante anos eu lia a Bíblia todos os dias, mas saía com a sensação de que não tinha entendido nada. Tentei comentários, vídeos, cursos — tudo era complicado demais ou superficial demais. Foi então que comecei a desenvolver meu próprio método — simples, prático e profundo ao mesmo tempo. Compartilhei nas redes e mais de 182 mil pessoas queriam aprender da mesma forma. O Atlas da Fé nasceu disso.\\n\\n---\\n\\n## DEPOIMENTOS REAIS (use quando sentir resistência ou dúvida)\\n\\nUse esses depoimentos de forma natural. Nunca cole todos de uma vez — escolha o mais adequado:\\n- Mariana (Professora, SP): Em 3 semanas entendi o livro de Apocalipse pela primeira vez — algo que tentei sozinha por 4 anos. Agora lidero o grupo de mulheres na minha igreja com esse método.\\n- Rafael (Engenheiro, BH): Trabalho 10h por dia. Com 20 minutos por dia usando o método, tive mais compreensão do que anos lendo por conta. Valeu cada centavo.\\n- Camila (Enfermeira, Curitiba): Minha fé estava fria. No 7º dia chorei lendo Salmos pela primeira vez na vida. Não é só conhecimento, é uma relação com Deus que muda.\\n- Ana (Estudante, Fortaleza): Me converti há 8 meses e estava completamente perdida. Com o manual entendi a estrutura da Bíblia em 2 semanas.\\n- Diego (Pastor, Manaus): Sou pastor há 12 anos e me surpreendi. Já recomendei para mais de 40 membros novos da minha congregação. Didática impecável.\\n\\n---\\n\\n## FLUXO DE CONVERSÃO\\n\\n1. RECEBER E ACOLHER: Cumprimente com calor. Pergunte o que trouxe a pessoa até aqui.\\n2. IDENTIFICAR A DOR: Leio a Bíblia mas não entendo nada / Não tenho tempo / Já tentei cursos mas é complicado / Quero me aproximar de Deus mas não sei por onde começar / Minha fé está fria.\\n3. CONECTAR A DOR COM O MANUAL: Apresente o Manual como a solução exata. Ex: Exatamente esse problema que o Manual resolve — ele foi criado pra quem lê e sente que não entendeu nada...\\n4. APRESENTAR O VALOR: Destaque o que mais faz sentido para o perfil da pessoa.\\n5. GERAR CONFIANÇA: Se houver hesitação, use um depoimento relevante OU mencione a garantia de 7 dias sem risco.\\n6. ENVIAR O LINK: Aqui está o acesso: https://pay.hotmart.com/Q103404071A — R$29,90 com garantia de 7 dias. Se não sentir a diferença, você recebe tudo de volta 😊\\n7. ACOMPANHAR: Se não responder, pergunte se ficou alguma dúvida. Nunca pressione — acolha.\\n\\n---\\n\\n## REGRAS ABSOLUTAS\\n\\n- Se perguntado se é humano: Sou o assistente virtual do Atlas da Fé, mas estou aqui pra te ajudar de verdade! 😊\\n- Nunca invente informações, preços ou promessas\\n- Nunca escreva mais de 3 parágrafos por resposta\\n- Se a pessoa já comprou: parabenize com entusiasmo e ofereça suporte\\n- Se pedir reembolso: oriente para contato@atlasdafe.com.br com gentileza\\n- Foco total em ajudar — a venda é consequência da conexão genuína`;\n\nconst systemPrompt = clientConfig.systemPrompt || defaultPrompt;\n\nlet historyArray = [];\nif (redisData && redisData.value) {\n  try {\n    historyArray = JSON.parse(redisData.value);\n  } catch (e) {\n    historyArray = [];\n  }\n}\n\nhistoryArray.push({\n  role: 'user',\n  content: campos.messageText\n});\n\nif (historyArray.length > 20) {\n  historyArray = historyArray.slice(historyArray.length - 20);\n}\n\nconst messages = [{ role: 'system', content: systemPrompt }, ...historyArray];\n\nreturn [{\n  json: {\n    messages,\n    historyArray,\n    instanceName: campos.instanceName,\n    senderPhone: campos.senderPhone\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 240],
      "id": "f1a2b3c4-d5e6-7890-a1b2-c3d4e5f60010",
      "name": "Formatar Mensagens"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUA_CHAVE_GROQ_AQUI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"max_tokens\": 500,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [640, 240],
      "id": "f1a2b3c4-d5e6-7890-a1b2-c3d4e5f60011",
      "name": "Chamar OpenAI"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'chat_history:' + $('Formatar Mensagens').item.json.instanceName + ':' + $('Formatar Mensagens').item.json.senderPhone }}",
        "value": "={{ JSON.stringify($('Formatar Mensagens').item.json.historyArray.concat([{ role: 'assistant', content: $json.choices[0].message.content }])) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [880, 240],
      "id": "f1a2b3c4-d5e6-7890-a1b2-c3d4e5f60012",
      "name": "Salvar Historico Redis",
      "credentials": {
        "redis": {
          "id": "redis_credentials",
          "name": "ZettaBots Redis"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://seriousokapi-evolution.cloudfy.live/message/sendText/{{ $('Formatar Mensagens').item.json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1V1stsMi2TBi2qNY4sk6Ze74Gcv6g2Pk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Formatar Mensagens').item.json.senderPhone }}\",\n  \"text\": {{ JSON.stringify($('Chamar OpenAI').item.json.choices[0].message.content) }},\n  \"linkPreview\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1120, 240],
      "id": "f1a2b3c4-d5e6-7890-a1b2-c3d4e5f60013",
      "name": "Enviar Resposta"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{"node": "Roteador de Eventos", "type": "main", "index": 0}]]
    },
    "Roteador de Eventos": {
      "main": [
        [{"node": "Conectou?", "type": "main", "index": 0}],
        [{"node": "Mensagem Externa?", "type": "main", "index": 0}]
      ]
    },
    "Conectou?": {
      "main": [[{"node": "Enviar Boas-vindas", "type": "main", "index": 0}]]
    },
    "Mensagem Externa?": {
      "main": [[{"node": "Extrair Campos", "type": "main", "index": 0}]]
    },
    "Extrair Campos": {
      "main": [[{"node": "E Audio?", "type": "main", "index": 0}]]
    },
    "E Audio?": {
      "main": [
        [{"node": "Baixar Audio", "type": "main", "index": 0}],
        [{"node": "Buscar Config Cliente", "type": "main", "index": 0}]
      ]
    },
    "Baixar Audio": {
      "main": [[{"node": "Base64 para Binario", "type": "main", "index": 0}]]
    },
    "Base64 para Binario": {
      "main": [[{"node": "Whisper Groq", "type": "main", "index": 0}]]
    },
    "Whisper Groq": {
      "main": [[{"node": "Setar Transcricao", "type": "main", "index": 0}]]
    },
    "Setar Transcricao": {
      "main": [[{"node": "Buscar Config Cliente", "type": "main", "index": 0}]]
    },
    "Buscar Config Cliente": {
      "main": [[{"node": "Buscar Historico Redis", "type": "main", "index": 0}]]
    },
    "Buscar Historico Redis": {
      "main": [[{"node": "Formatar Mensagens", "type": "main", "index": 0}]]
    },
    "Formatar Mensagens": {
      "main": [[{"node": "Chamar OpenAI", "type": "main", "index": 0}]]
    },
    "Chamar OpenAI": {
      "main": [[{"node": "Salvar Historico Redis", "type": "main", "index": 0}]]
    },
    "Salvar Historico Redis": {
      "main": [[{"node": "Enviar Resposta", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"instanceId": "4e9cb6ed8246eafdfd1cc5ffd8d2e30ccfec3971bd3b24d4891a0480d84c1e13"},
  "id": "bot-por-cliente-v1",
  "tags": []
}
