n8n/Zetta_Master_SaaS_Dynamic.json
{
  "name": "Zetta_Master_SaaS_Dynamic",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zettabots-master",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1744,
        64
      ],
      "id": "cf48d798-f993-4ee7-ad34-0f235868b1c7",
      "name": "Webhook Master",
      "webhookId": "7ef25bef-5f52-4a9c-9482-43f5ad94e6fb"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst data = body.data || $json.data;\nif (!data || !data.key) return [];\n\n// 1. Ignorar mensagens enviadas pelo próprio bot\nif (data.key.fromMe === true) return [];\n\n// 2. Ignorar Grupos do WhatsApp automaticamente\nif (data.key.remoteJid.includes('@g.us')) {\n  console.log('Ignorando grupo:', data.key.remoteJid);\n  return [];\n}\n\n// 3. Ignorar números de sistema (Loop infinito)\nconst systemNumbers = ['5511977737283', '5521968755222'];\nconst senderPhone = data.key.remoteJid.split('@')[0].replace(/\\D/g, '');\nif (systemNumbers.includes(senderPhone)) return [];\n\nconst text = data.message?.conversation || data.message?.extendedTextMessage?.text || data.message?.imageMessage?.caption || '';\nconst isAudio = !!data.message?.audioMessage;\nconst messageId = data.key.id;\n\nif (!text.trim() && !isAudio) return [];\n\n// Pega o nome da instância que recebeu a mensagem\nconst instanceName = body.instance || 'ZettaBots';\n\nreturn [{ json: { senderPhone, messageText: text, isAudio, messageId, pushName: data.pushName || 'Cliente', instanceName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        64
      ],
      "id": "e0ded412-937e-4d62-941d-9cc2da73218b",
      "name": "Extrator & Gate Segurança"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "audio-check",
                    "leftValue": "={{ $json.isAudio }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        -1280,
        64
      ],
      "id": "switch-audio-text",
      "name": "Roteador de Tipo"
    },
    {
      "parameters": {
        "url": "=https://seriousokapi-evolution.cloudfy.live/message/loadMedia/{{ $json.instanceName }}",
        "sendQueryParameters": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "messageId",
              "value": "={{ $json.messageId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[[SUA_CHAVE_EVOLUTION_AQUI]]"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1040,
        -100
      ],
      "id": "download-audio-node",
      "name": "Baixar Áudio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [[SUA_CHAVE_GROQ_AQUI]]"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "form-data-binary",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -800,
        -100
      ],
      "id": "groq-whisper-node",
      "name": "Transcrição Groq"
    },
    {
      "parameters": {
        "jsCode": "const extrator = $(\"Extrator & Gate Segurança\").first().json;\nconst transcription = $json.text || \"\";\n\nreturn [{ \n  json: { \n    ...extrator, \n    messageText: transcription, \n    isAudio: false // Agora tratamos como texto normal\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -100
      ],
      "id": "unificador-audio-node",
      "name": "Unificar Dados"
    },
    {
      "parameters": {
        "url": "=https://ugtsqlhkyrjmmopakyho.supabase.co/rest/v1/instances?instance_name=eq.{{ $json.instanceName }}&select=system_prompt&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[[SUA_CHAVE_SUPABASE_AQUI]]"
            },
            {
              "name": "Authorization",
              "value": "Bearer [[SUA_CHAVE_SUPABASE_AQUI]]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -360,
        64
      ],
      "id": "0de12ea7-3d9b-4abd-b54e-4024da259397",
      "name": "Buscar Prompt do Cliente",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://ugtsqlhkyrjmmopakyho.supabase.co/rest/v1/sessions?key=eq.zetta%3Asession%3A{{ $json.instanceName }}%3A{{ $json.senderPhone }}&select=value&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[[SUA_CHAVE_SUPABASE_AQUI]]"
            },
            {
              "name": "Authorization",
              "value": "Bearer [[SUA_CHAVE_SUPABASE_AQUI]]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -120,
        64
      ],
      "id": "edfa3129-b625-404f-b78a-ee4c3b4d3c3e",
      "name": "Buscar Memoria",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://ugtsqlhkyrjmmopakyho.supabase.co/rest/v1/knowledge_base?instance_name=eq.{{ $(\"Extrator & Gate Segurança\").first().json.instanceName }}&status=eq.active&select=extracted_text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[[SUA_CHAVE_SUPABASE_AQUI]]"
            },
            {
              "name": "Authorization",
              "value": "Bearer [[SUA_CHAVE_SUPABASE_AQUI]]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        200
      ],
      "id": "kb-fetch-node",
      "name": "Buscar Conhecimento",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "let history = [];\nlet systemPrompt = 'Você é o Zetta, assistente virtual inteligente da ZettaBots. Seja cordial e direto.';\n\nconst mainData = $(\"Buscar Prompt do Cliente\").first().json;\nconst phone = mainData.senderPhone || \"000\";\nconst instanceName = mainData.instanceName || 'ZettaBots';\nconst currentText = mainData.messageText || \"Oi\";\n\n// Puxa a memória\ntry {\n  const res = $('Buscar Memoria').first().json;\n  const val = Array.isArray(res) ? res[0]?.value : res?.value;\n  if (val) history = JSON.parse(val);\n} catch(e) {}\n\n// Puxa o prompt customizado do cliente\ntry {\n  const resPrompt = $('Buscar Prompt do Cliente').first().json;\n  const customPrompt = Array.isArray(resPrompt) ? resPrompt[0]?.system_prompt : resPrompt?.system_prompt;\n  if (customPrompt && customPrompt.trim() !== '') {\n    systemPrompt = customPrompt;\n  }\n} catch(e) {}\n\n// Puxa o conhecimento extraído\nlet knowledge = '';\ntry {\n  const resKB = $('Buscar Conhecimento').first().json;\n  if (Array.isArray(resKB)) {\n    knowledge = resKB.map(item => item.extracted_text).filter(t => t).join('\\n---\\n');\n  } else if (resKB?.extracted_text) {\n    knowledge = resKB.extracted_text;\n  }\n} catch(e) {}\n\nif (knowledge && knowledge.trim() !== '') {\n  systemPrompt += '\\n\\nBASE DE CONHECIMENTO CRÍTICA (Use estes dados para responder):\\n' + knowledge;\n}\n\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...history,\n  { role: 'user', content: currentText }\n].filter(m => m.content).slice(-15);\n\nreturn [{ json: { messages, history, currentText, senderPhone: phone, instanceName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        64
      ],
      "id": "c66122e3-b9c7-497f-90fe-21bac5e1ff74",
      "name": "Cerebro IA Dinamico"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [[SUA_CHAVE_GROQ_AQUI]]"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"llama-3.3-70b-versatile\", \"messages\": {{ JSON.stringify($json.messages) }} }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        380,
        64
      ],
      "id": "b503f500-7185-4663-9cf7-e1aab30406e8",
      "name": "Groq IA"
    },
    {
      "parameters": {
        "jsCode": "const choices = $json.choices;\nif (choices && choices.length > 0 && choices[0].message && choices[0].message.content) {\n  return [{ json: $json }];\n}\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        64
      ],
      "id": "2410f1c5-67a3-462b-8ff4-791247b47c9b",
      "name": "Filtro de Resposta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://seriousokapi-evolution.cloudfy.live/message/sendText/{{ $(\"Cerebro IA Dinamico\").first().json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[[SUA_CHAVE_EVOLUTION_AQUI]]"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"number\": \"{{ $(\"Cerebro IA Dinamico\").first().json.senderPhone }}\", \"text\": {{ JSON.stringify($json.choices?.[0]?.message?.content || \"\") }} }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        860,
        0
      ],
      "id": "820ec072-1df9-4ace-9082-c6367c93d616",
      "name": "Enviar WhatsApp"
    },
    {
      "parameters": {
        "jsCode": "const brain = $(\"Cerebro IA Dinamico\").first().json;\nconst reply = $(\"Groq IA\").first().json.choices[0].message.content;\nconst newHist = [...brain.history, { role: 'user', content: brain.currentText }, { role: 'assistant', content: reply }].slice(-10);\nreturn [{ json: { key: 'zetta:session:' + brain.instanceName + ':' + brain.senderPhone, value: JSON.stringify(newHist) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "id": "3ccde60a-2fb6-4bbd-814b-890c299cd7a6",
      "name": "Preparar Sessao"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ugtsqlhkyrjmmopakyho.supabase.co/rest/v1/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[[SUA_CHAVE_SUPABASE_AQUI]]"
            },
            {
              "name": "Authorization",
              "value": "Bearer [[SUA_CHAVE_SUPABASE_AQUI]]"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"key\": \"{{ $json.key }}\", \"value\": {{ JSON.stringify($json.value) }}, \"expires_at\": \"{{ new Date(Date.now() + 1800000).toISOString() }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1340,
        0
      ],
      "id": "a10bf1aa-cfa2-43c9-9786-149053b92080",
      "name": "Salvar Memoria"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [[SUA_CHAVE_GROQ_AQUI]]"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"llama3-8b-8192\", \"messages\": [ { \"role\": \"system\", \"content\": \"Analise a intenção da mensagem e retorne um JSON: { \\\"sentiment\\\": \\\"hot|neutral|cold\\\", \\\"notes\\\": \\\"resumo 5 palavras\\\", \\\"stage\\\": \\\"lead|prospect|qualified\\\" }\" }, { \"role\": \"user\", \"content\": {{ JSON.stringify($(\"Buscar Prompt do Cliente\").first().json.messageText) }} } ], \"response_format\": { \"type\": \"json_object\" } }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -120,
        400
      ],
      "id": "classifier-node",
      "name": "Classificar Lead",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "let result = { sentiment: 'neutral', notes: 'Contato inicial', stage: 'lead' };\n\ntry {\n  const content = $json.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  result.sentiment = parsed.sentiment || 'neutral';\n  result.notes = parsed.notes || 'Sem notas';\n  result.stage = parsed.stage || 'lead';\n} catch (e) {\n  console.error('Erro ao processar IA:', e);\n}\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        400
      ],
      "id": "process-ai-node",
      "name": "Processar Inteligencia"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ugtsqlhkyrjmmopakyho.supabase.co/rest/v1/crm_leads?phone=eq.{{ $(\"Buscar Prompt do Cliente\").first().json.senderPhone }}&instance_name=eq.{{ $(\"Buscar Prompt do Cliente\").first().json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[[SUA_CHAVE_SUPABASE_AQUI]]"
            },
            {
              "name": "Authorization",
              "value": "Bearer [[SUA_CHAVE_SUPABASE_AQUI]]"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sentiment\": \"{{ $json.sentiment }}\", \"ai_notes\": \"{{ $json.notes }}\", \"stage\": \"{{ $json.stage }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        360,
        400
      ],
      "id": "update-crm-node",
      "name": "Atualizar CRM Inteligente"
    }
  ],
  "connections": {
    "Webhook Master": {
      "main": [
        [
          {
            "node": "Extrator & Gate Segurança",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrator & Gate Segurança": {
      "main": [
        [
          {
            "node": "Roteador de Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador de Tipo": {
      "main": [
        [
          {
            "node": "Buscar Prompt do Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Áudio": {
      "main": [
        [
          {
            "node": "Transcrição Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrição Groq": {
      "main": [
        [
          {
            "node": "Unificar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificar Dados": {
      "main": [
        [
          {
            "node": "Buscar Prompt do Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Prompt do Cliente": {
      "main": [
        [
          {
            "node": "Buscar Memoria",
            "type": "main",
            "index": 0
          },
          {
            "node": "Classificar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Memoria": {
      "main": [
        [
          {
            "node": "Buscar Conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conhecimento": {
      "main": [
        [
          {
            "node": "Cerebro IA Dinamico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerebro IA Dinamico": {
      "main": [
        [
          {
            "node": "Groq IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq IA": {
      "main": [
        [
          {
            "node": "Filtro de Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro de Resposta": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Preparar Sessao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Sessao": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Lead": {
      "main": [
        [
          {
            "node": "Processar Inteligencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Inteligencia": {
      "main": [
        [
          {
            "node": "Atualizar CRM Inteligente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}